/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
button[type=submit]:hover {
  background-color: #45a049;
}

/* Remove full screen buttons for images */
[data-testid="StyledFullScreenButton"] {
  display: none;
}

/* Reduce vertical padding of content*/
[data-testid="stAppViewBlockContainer"] {
  padding-top: 4rem;
  padding-bottom: 6rem;
}

/* Adjust link style */
a, a:hover {
  text-decoration: none;
}

/* Highlight text color */
span.highlight {
  color: #ff6f4d;
  font-weight: bold;
}

/* Recommendation row header text */
h2.row_header {
  padding-bottom: 0px;
}

/* Recommendation element in a row */
div.rec_element {
  position: relative;
  aspect-ratio: 3 / 4;
  overflow: hidden;
  border: 1px solid #808080;
  border-radius: 8px;
}

/* Recommendation element when loading */
div.rec_element_empty {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-color: transparent;
}

/* Recommendation element child when loading */
div.rec_element_empty > div{
  background-color: #303030;
  width: 100%;
  height: 100%;
}

/* Recommendation image */
img.rec_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}
div.rec_element:hover img.rec_image {
  transform: scale(1.1);
}

/* Recommendation text */
div.rec_text {
  color: white;
  white-space: nowrap;
  line-height: 1.1;
  padding: 5px 7px;
  top: 50%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(0,0,0,0.8) 15%, rgba(0,0,0,0) 100%);
  transition: all 0.3s ease;
}
div.rec_text p {
  flex-grow: 0;
  margin-bottom: 0px;
}
div.rec_text p:first-child {
  flex-grow: 1;
}
div.rec_text p:nth-child(2) {
  font-weight: bold;
  font-size: 1.2em;
}
div.rec_element:hover div.rec_text {
  opacity: 1;
}

/* Pulse animation */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

/* Explorer table */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.styled-table thead tr {
  background-color: #333333;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table img {
  width: 200px; /* Adjust this value to change image size */
  height: auto;
  border-radius: 5px;
}
