# Environment variables
# Copy this file to `/.streamlit/secrets.toml` and fill in the values
# Do not commit `secrets.toml` file to the repository

[contact_form]
email=

[db_credentials]
user=
password=
host=
database=
