# Environment variables
# Copy this file to `/.streamlit/secrets.toml` and fill in the values
# Do not commit `secrets.toml` file to the repository

# Database credentials
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_DB=

# Email for the contact form
CONTACT_EMAIL=

# Password for the base-users
DUMMY_PASSWORD=
